{% include 'header.html' %}


<!--Charts-->

<body>

<h1 class="display-4"> Evolución de la pandemia </h1>

<!-- Communities form -->
<div class="dropdown">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Obtener Datos">
    </form>
</div>


{% block content %}

    <div class="container offset-md-2" style="width: 75%;">
        <canvas id="line-chart-abs"></canvas>
    </div>
    <div class="container offset-md-2" style="width: 75%;">
        <canvas id="line-chart-inc"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

    var config_abs = {
        type: 'line',
        data: {
            datasets: [
            {
                data: {{ data.0|safe }},
                borderColor: '#12e86f',
                fill: false,
                label: 'Confirmados'
            },
            {
                data: {{ data.1|safe }},
                borderColor: '#e012e8',
                fill: false,
                label: 'Hospitalizados'
            },
            {
                data: {{ data.2|safe }},
                borderColor: '#000000',
                fill: false,
                label: 'Fallecidos'
            }],
            labels: {{ labels|safe }}
            },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Cifras totales',
                fontColor: '#020202',
                fontSize: 16
            }
        }
    };

    var config_inc = {
        type: 'line',
        data: {
            datasets: [
            {
                data: {{ data_inc.0|safe }},
                borderColor: '#12e86f',
                fill: false,
                label: 'Confirmados'
            },
            {
                data: {{ data_inc.1|safe }},
                borderColor: '#e012e8',
                fill: false,
                label: 'Hospitalizados'
            },
            {
                data: {{ data_inc.2|safe }},
                borderColor: '#000000',
                fill: false,
                label: 'Fallecidos'
            }],
            labels: {{ labels|safe }}
            },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Incrementos',
                fontColor: '#020202',
                fontSize: 16
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("line-chart-abs").getContext('2d');
        var cty = document.getElementById("line-chart-inc").getContext('2d');
        window.myPie = new Chart(ctx, config_abs);
        window.myPie = new Chart(cty, config_inc);
    };


  </script>

{% endblock %}

</body>
</html>