
{% include 'header.html' %}


<body>
<div class="jumbotron">
        <h1 class="display-4">Base de Datos reiniciada con {{numnews}} nuevas entradas.</h1>
            <p class="lead">Ahora puedes mantenerte informado en el feed.</p>
        <hr class="my-4">
        <p class="lead">
            <form method="post"  action="{% url 'feed' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" value="Ir al feed">
            </form>
        </p>
    </div>
</body>
</html>