{% include 'header.html' %}



<body>

<!--Update alert-->
{% if nupdate != None %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <form method="post"  action="{% url 'feed' %}">
            {% if nupdate == '0' %}
                <strong>¡No hay noticias nuevas!</strong> Ya tenías las últimas noticias.
            {% else %}
                <strong>¡Base de Datos actualizada!</strong> Se han añadido {{nupdate}} entradas.
            {% endif %}
            {% csrf_token %}
            <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>
{% endif %}

<!--Charts-->

<h1 class="display-4"> Últimos datos</h1>

{% block content %}
    <div class="container offset-md-2">
        <div class="row">
            <div class="col">
                <div id="container-confirmed" style="width: 150%;">
                    <canvas id="pie-chart-confirmed"></canvas>
                </div>
            </div>

            <div class="col">
                <div id="container-death" style="width: 150%;">
                    <canvas id="pie-chart-death"></canvas>
                </div>
            </div>

            <div class="col">
                <div id="container-healed" style="width: 150%;">
                    <canvas id="pie-chart-healed"></canvas>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


    <script>

        var config_confirmed = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ data.0|safe }},
                    backgroundColor: ['#fca758', '#fc585b'],
                    label: 'Confirmed'
                    }],
                labels: {{ labels|safe }}
                },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Confirmados',
                    fontColor: '#020202',
                    fontSize: 16
                }
            }
        };

        var config_death = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ data.1|safe }},
                    backgroundColor: ['#8e8e8e', '#191818'],
                    label: 'Death'
                    }],
                labels: {{ labels|safe }}
                },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Muertes',
                    fontColor: '#020202',
                    fontSize: 16
                }
            }
        };

        var config_healed = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ data.2|safe }},
                    backgroundColor: ['#5beaa3', '#5ba3ea'],
                    label: 'Healed'
                    }],
                labels: {{ labels|safe }}
                },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Curados',
                    fontColor: '#020202',
                    fontSize: 16
                }
            }
        };

        window.onload = function() {
            var ctxc = document.getElementById('pie-chart-confirmed').getContext('2d');
            var ctxd = document.getElementById('pie-chart-death').getContext('2d');
            var ctxh = document.getElementById('pie-chart-healed').getContext('2d');
            window.myPie = new Chart(ctxc, config_confirmed);
            window.myPie = new Chart(ctxd, config_death);
            window.myPie = new Chart(ctxh, config_healed);
        };

    </script>

{% endblock %}



<!--News -->

<h1 class="display-4">Últimas noticias</h1>

<div class="news">
{% for n, like in news %}
    <div class="card border-dark mb-3">
        <div class="card-body">
            <h5 class="card-title"><strong>{{n.title}}</strong></h5>
            <p class="card-subtitle mb-2 text-muted">{{n.date|date:"d/m/Y G:i"}}</p>
            <p class="card-text">{{n.content}}</p>
            <form method="post"  action="{% url 'like' %}">
                {% csrf_token %}
                <input type="hidden" name="news_id" value="{{ n.id }}" />
                <input type="hidden" name="page" value="{{page_number}}" />
                <input type="hidden" name="router" value=0 />
                {% if like == 0 %}
                    <input type="submit" class="btn btn-outline-dark" value="Me Gusta">
                {% else %}
                    <input type="submit" class="btn btn-warning" value="No Me Gusta">
                {% endif %}
            </form>
        </div>
    </div>
{% empty %}
    <div class="jumbotron">
        <h1 class="display-4">¡No hay ninguna noticia!</h1>
            <p class="lead">Prueba a repoblar la base de datos.</p>
        <hr class="my-4">
        <p class="lead">
            <form method="post"  action="{% url 'populate' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" value="Repoblar base de datos">
            </form>
        </p>
    </div>
{% endfor %}
</div>

<div class="pagination justify-content-center">
    <span class="step-links">
        <div class="row">
            {% if page_obj.has_previous %}
                    <a class="page-link" href="?page=1">first</a>
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

                <span class="current col">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

            {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </div>
    </span>
</div>

</body>


</html>