<!DOCTYPE html>
<html lang="es">
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand">NotiCovid-19</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if tab == 0 %}active{% endif %}">
				<a class="nav-link" href="/">Inicio</a></li>
			<li class="nav-item {% if tab == 1 %}active{% endif %}">
				<a class="nav-link" href="/populate">Repoblar la Base de Datos</a></li>
			<li class="nav-item {% if tab == 2 %}active{% endif %}">
				<a class="nav-link" href="/update">Actualizar la Base de Datos</a></li>
			<li class="nav-item {% if tab == 3 %}active{% endif %}">
				<a class="nav-link" href="/feed">Feed</a></li>
			<li class="nav-item {% if tab == 4 %}active{% endif %}">
				<a class="nav-link" href="/search">Buscar noticias</a></li>
			<li class="nav-item {% if tab == 5 %}active{% endif %}">
				<a class="nav-link" href="/likes">Noticias favoritas</a></li>
			<li class="nav-item {% if tab == 6 %}active{% endif %}">
				<a class="nav-link" href="/charts">Evolución</a></li>
		</ul>
	</div>
</nav>
</header>

<head>
	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
	<title>Covid-19 24H</title>
</head>