
{% include 'header.html' %}

<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">NotiCovid-19</h1>
    <p class="lead">Mantente informado con las últimas noticias y conoce la evolución de la pandemia con datos de última hora.</p>
  </div>
</div>

</body>
</html>