{% include 'header.html' %}

<body>

<h1>Noticias marcadas como favorito</h1>

<div class="news">
{% for news in page_obj %}
    <div class="card border-dark mb-3">
        <div class="card-body">
            <h5 class="card-title"><strong>{{news.title}}</strong></h5>
            <p class="card-subtitle mb-2 text-muted">{{news.date|date:"d/m/Y G:i"}}</p>
            <p class="card-text">{{news.content}}</p>
            <form method="post"  action="{% url 'like' %}">
                {% csrf_token %}
                <input type="hidden" name="news_id" value={{ news.id }} />
                <input type="hidden" name="page" value={{page_number}} />
                <input type="hidden" name="router" value=1 />
                <input type="submit" class="btn btn-warning" value="No Me Gusta">
            </form>
        </div>
    </div>
{% empty %}
    <div class="jumbotron">
        <h1 class="display-4">¡No pierdas nada!</h1>
            <p class="lead">Aún no tienes ninguna noticia guardada, ve al feed y guarda las que te interesen para que aparezcan aquí.</p>
        <hr class="my-4">
        <p class="lead">
            <form method="post"  action="{% url 'feed' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" value="Ir al feed">
            </form>
        </p>
    </div>
{% endfor %}
</div>

<div class="pagination justify-content-center">
    <span class="step-links">
        <div class="row">
            {% if page_obj.has_previous %}
                    <a class="page-link" href="?page=1">first</a>
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

                <span class="current col">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

            {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </div>
    </span>
</div>

</body>


</html>