{% include 'header.html' %}

<body>

<div class="jumbotron">
    <h1 class="display-4">Reiniciar la Base de Datos.</h1>
    <h2 class="lead"><strong>¡AVISO! Este proceso es lento, borra TODA la base de datos actual y requiere conexion a internet.</strong></h2>
    <hr class="my-4">
    <p class="lead">
        <form id='formulario' method="post"  action="{% url 'populate' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-lg" name="accept" value="Confirmar">
        </form>
    </p>
</div>

</body>
</html>