{% include 'header.html' %}

<body>

<h1 class="display-4">Buscador de noticias</h1>

<!-- Search form -->
<div>
    <form class="form-inline md-form mr-auto mb-4" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
    </form>
</div>

<div class="news">
    {% for news in results %}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <h5 class="card-title"><strong>{{news.1}}</strong></h5>
                <p class="card-subtitle mb-2 text-muted">{{news.0|date:"d/m/Y G:i"}}</p>
                <p class="card-text">{{news.2}}</p>
            </div>
        </div>
    {% empty %}
        {% if search == 1 %}
            <div class="jumbotron">
                <h1 class="display-4">¡No se ha encontrado nada relacionado!</h1>
                <p class="lead">Prueba a realizar otra búsqueda.</p>
            </div>
        {% endif %}

    {% endfor %}
</div>

</body>


</html>